* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Archivo', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.logo img {
    height: 1.5rem;
    cursor: pointer;
}

.navbar-content {
    display: flex;
    align-items: center;
}

.navbar .nav-links {
    margin-right: 20px;
}

.navbar .customer-id {
    font-weight: bold;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background-color: #444;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px 10px;
}


.sidebar .profile-pict {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .profile-pict img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.sidebar.active {
    display: block;
}

.sidebar-nav ul {
    list-style: none;
}

.sidebar-nav ul li {
    margin: 10px 0;
}

.sidebar-nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    margin: 0px;
    background-color: #555;
    border-radius: 5px;
    align-items: center;
}

.sidebar-nav ul li a:hover {
    background-color: #666;
}

.sidebar-nav ul li a i {
    margin: 5px;
}

.marquee {
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    min-height: 3rem;
}

.footer .social-links a {
    color: white;
    margin: 5px 10px;
    text-decoration: none;
    display: inline-flex;
}

.footer .social-links a:hover {
    color: rgb(66, 159, 236);
}

.sidebar-nav .del a {
    color: rgb(248, 92, 92);
}

.menu-btn {
    display: none;
    float: right;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-btn {
        display: flex;
    }

    .customer-id {
        display: none;
    }

    .sidebar {
        display: none;
        position: static;
        width: 100%;
        z-index: 1;
    }

    .sidebar.active {
        transform: translateY(0);
    }

    .footer .social-links {
        flex-direction: column;
    }

    .footer {
        height: 3rem;
    }
}

@media (max-width: 480px) {
    .navbar .logo {
        font-size: 1.2rem;
    }

    .sidebar-nav ul li a {
        font-size: 0.9rem;
    }

    .footer .social-links {
        font-size: 0.9rem;
    }
}

